<div class="qFrameBottom"></div>
<div class="quranPageFooter">
  <%= link_to '◄', view_page_path(:page => @page.to_i + 1),
              :class => "arrow-link arrow-left", :remote => true %>
  &nbsp;<span class="pageNumber"><%= @page %></span>&nbsp;
  <%= link_to '►', view_page_path(:page => @page.to_i - 1),
              :class => "arrow-link arrow-left", :remote => true %>
</div>