<div class="qFrameBottom"></div>
<div class="quranPageFooter">
  <a class="arrow-link arrow-left" href="javascript:changePage('left')" original-title="">◄</a>
  &nbsp;<span class="pageNumber"><%= @page %></span>&nbsp;
  <a class="arrow-link arrow-right" href="javascript:changePage('right')" original-title="">►</a>
</div>