<span id="<%= id %>">
  <%= link_to word.to_s, sarf_token_path(:word => word),
              :class => "ayaWord", :remote => true,
              :data => {:selected_bg_color => "#c4ecbd",
                        :original_bg_color => "#f7fce3"}%>
</span>
