<span id="<%= id %>" class="ayaWord" data-selected-background-color="#c4ecbd" data-original-background-color="#f7fce3">
  <%= link_to word.to_s, fetch_info_path(:word => word), :remote => true %>
  <!--<%= word.to_s %>-->
</span>
<!--<span id="space-<%= id %>"> </span>-->