<% content_for :quran_text do %>
        <div id="quran-tab" class="main-tab quran" style="font-size: 19px; display: block; margin:auto 0;">

          <div  id="quranPageHeader">
            <%= render partial: "quran/quran_header", locals: {page: @page, suraName: @suraName} %>
          </div>

          <!-- TODO clean this section-->
          <div class="qFrameMiddle" id="middleFrame">
            <div class="quranText" id="quranText">
              <!--
              <div class="suraHeaderFrame">
                <div class="suraHeaderText">سورة مريم</div>
              </div>
              <div class="ayaText besm">
                بِسْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ
              </div>
              -->
              <%= render partial: "quran/ayat", locals: {ayat: @ayat} %>

            </div>
          </div>

          <div id="quranPageFooter">
          <%= render partial: "quran/quran_footer", locals: {page: @page} %>
          </div>

        </div>
<% end %>
