<% content_for :quran_text do %>
    <% @ayat.each do |aya| %>
        <% aya_id = @sura.to_s + '-' + aya['index'] %>
            <%= render partial: "aya", locals: {aya: aya, aya_id: aya_id} %>
    <% end %>
<% end %>

<% content_for :page_meta do %>
    <h2>Page: <%= @page %></h2>
    <br/>
    <h2>nextPageSura: <%= @nextPageSura %></h2>
    <br/>
    <h2>nextPageAya: <%= @nextPageAya %></h2>
<% end %>
