<div id="body-content" class="ui-helper-clearfix">
<div id="main-content" class="floatEnd">
    <div id="quran-tab" class="main-tab quran" style="font-size: 19px; display: block; margin:auto 0;">
        <div class="quranPageHeader ui-helper-clearfix">
            <div style="float: left; width: 180px; text-align: left;"><span id="suraName">سورة مريم</span></div>
            <div style="float: left; width: 130px;">
                <a class="arrow-link arrow-left" href="javascript:changePage('left')" original-title="">◄</a>
                &nbsp;<span class="pageNumber">٣٠٥</span>&nbsp;
                <a class="arrow-link arrow-right" href="javascript:changePage('right')" original-title="">►</a>
            </div>
            <div style="float: right"><span id="juzName">الجزء السادس عشر</span> </div>
        </div>
        <div class="qFrameTop">
        </div>
        <div class="qFrameMiddle" id="middleFrame">
            <div class="quranText" id="quranText" style="text-align: justify; font-family: 'KFGQPC Uthman Taha Naskh', KFGQPC_Naskh; font-size: 1.15em; font-weight: normal; display: block;"><div class="suraHeaderFrame"><div class="suraHeaderText">سورة مريم</div></div><div class="ayaText besm">بِسْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ </div>
                <span id="19-1" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">كهيعص</span> 
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:1">١</a>﴾</span>
                    </span>
                </span>
                <span id="19-2" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">ذِكْرُ رَحْمَتِ رَبِّكَ عَبْدَهُ زَكَرِيَّا</span> 
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:2">٢</a>﴾</span>
                    </span>
                </span>
                <span id="19-3" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">إِذْ نَادَىٰ رَبَّهُ نِدَاءً خَفِيًّا</span> 
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:3">٣</a>﴾</span>
                    </span>
                </span>
                <span id="19-4" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">قَالَ رَبِّ إِنِّي وَهَنَ الْعَظْمُ مِنِّي وَاشْتَعَلَ الرَّأْسُ شَيْبًا وَلَمْ أَكُن بِدُعَائِكَ رَبِّ شَقِيًّا</span> 
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:4">٤</a>﴾</span>
                    </span>
                </span>
                <span id="19-5" class="aya selected">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">وَإِنِّي خِفْتُ الْمَوَالِيَ مِن وَرَائِي وَكَانَتِ امْرَأَتِي عَاقِرًا فَهَبْ لِي مِن لَّدُنكَ وَلِيًّا</span>
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:5">٥</a>﴾</span>
                    </span>
                </span>
                <span id="19-6" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">يَرِثُنِي وَيَرِثُ مِنْ آلِ يَعْقُوبَ
                            <span class="sign" style="font-size: 0.92em;">&nbsp;ۖ</span> وَاجْعَلْهُ رَبِّ رَضِيًّا
                        </span>
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:6">٦</a>﴾</span>
                    </span>
                </span>
                <span id="19-7" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">يَا زَكَرِيَّا إِنَّا نُبَشِّرُكَ بِغُلَامٍ اسْمُهُ يَحْيَىٰ لَمْ نَجْعَل لَّهُ مِن قَبْلُ سَمِيًّا</span>
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:7">٧</a>﴾</span>
                    </span>
                </span>
                <span id="19-8" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">قَالَ رَبِّ أَنَّىٰ يَكُونُ لِي غُلَامٌ وَكَانَتِ امْرَأَتِي عَاقِرًا وَقَدْ بَلَغْتُ مِنَ الْكِبَرِ عِتِيًّا</span>
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:8">٨</a>﴾</span>
                    </span>
                </span>
                <span id="19-9" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">قَالَ كَذَٰلِكَ قَالَ رَبُّكَ هُوَ عَلَيَّ هَيِّنٌ وَقَدْ خَلَقْتُكَ مِن قَبْلُ وَلَمْ تَكُ شَيْئًا</span>
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:9">٩</a>﴾</span>
                    </span>
                </span>
                <span id="19-10" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">قَالَ رَبِّ اجْعَل لِّي آيَةً<span class="sign" style="font-size: 0.92em;">&nbsp;ۚ</span> قَالَ آيَتُكَ أَلَّا تُكَلِّمَ النَّاسَ ثَلَاثَ لَيَالٍ سَوِيًّا</span>
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:10">١٠</a>﴾</span>
                    </span>
                </span>
                <span id="19-11" class="aya">
                    <span class="aya-wrapper" style="background-color: transparent;">
                        <span class="ayaText">فَخَرَجَ عَلَىٰ قَوْمِهِ مِنَ الْمِحْرَابِ فَأَوْحَىٰ إِلَيْهِمْ أَن سَبِّحُوا بُكْرَةً وَعَشِيًّا</span>
                        <span class="ayaNumber" style="font-size: 0.92em;">﴿<a href="http://tanzil.net/#19:11">١١</a>﴾</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="qFrameBottom">
        </div>
        <div class="quranPageFooter">
            <a class="arrow-link arrow-left" href="javascript:changePage('left')" original-title="">◄</a>
            &nbsp;<span class="pageNumber">٣٠٥</span>&nbsp;
            <a class="arrow-link arrow-right" href="javascript:changePage('right')" original-title="">►</a>
        </div>
        <script src="data.js.php?locale=en_US" type="text/javascript"></script>
        <script src="tanzil(v1.5).js" type="text/javascript"></script>
    </div>
</div>
</div>
