<span class="sarf.token_anlysis.single_token_result">
<table>
  <% token_result.each do |key, value| %>
      <tr>
        <td><%= t key %></td>
        <td><%= t value %></td>
      </tr>
  <% end %>
</table>
</span>