// Place all the styles related to the quran controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sarf-content {
  position: absolute;
  float: left;
  left: 700px;
  width: 200px;
  top: 40px;
}

.quranText {
  direction: rtl;
  text-align: justify;
  font-family: 'KFGQPC Uthman Taha Naskh', KFGQPC_Naskh;
  font-size: 1.15em;
  font-weight: normal;
  margin: 0px 30px;
  padding: 16px 14px;
  display: block;
}