<!DOCTYPE html>
<html>
    <head>
        <title>Atks</title>
        <%= stylesheet_link_tag    'tanzil', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'tanzil', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body style="background-position: 400px 0px;">

        <%= yield %>

    </body>
</html>
